@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SonOfCod.ViewModels.RegisterViewModel

<h2>Add New Admin:</h2>

<hr />

@using (Html.BeginForm("AddAdmin", "Account", FormMethod.Post))
{
    @Html.LabelFor(m => m.UserName)
    @Html.TextBoxFor(m => m.UserName)

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)

    @Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword)

    <input type="submit" value="Add" />
}
